* {
    color: #212121;
    font-size: 1em;
    font-family: Lato, sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: #f9f9f9;
    height: 100%;
    display: flex;
}

.contain {
    align-items: center;
    display: flex;
    width: 100%;
}

@media screen and (min-width: 1024px) {
    .contain {
	width: 60%;
    }
}

.content {
    margin: 0 5%;
    max-width: 460px;
}

@media screen and (min-width: 575px) {
    .content {
	margin: 0 10%;
    }
}

.content h1 {
    font-size: 2.5em;
    font-weight: 900;
}

.content h2 {
    font-size: 1.1em;
    font-weight: 700;
    margin: 1rem 0;
}

.content p {
    font-weight: 400;
    line-height: 1.8em;
    margin: 1rem 0;
}

.social {
    margin-top: 1.5rem;
}

.social ul {
    list-style-type: none;
}

.social li {
    display: inline-block;
}

.social li a {
    border: 1px solid #212121;
    display: block;
    font-size: 0.8em;
    margin-right: 0.8em;
    padding: 0.6em 0.8em;
    text-decoration: none;
}

.social li a:hover {
    background-color: #212121;
    color: #f9f9f9;
}

.image {
    display: none;
}

@media screen and (min-width: 1024px) {
    .image {
	display: block;
	width: 40%;
    }
    .image img {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: cover;
    }
}
