* {
    color: #212121;
    font-size: 1em;
    font-family: Lato, sans-serif;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    height: 100%;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 1rem;
}

p {
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 1rem;
}

#container {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 5%;
}

@media screen and (min-width: 768px) {
    #container {
        padding: 0 10%;
    }
}

main {
    margin: 0;
    max-width: 500px;
}

@media screen and (min-width: 768px) {
    main {
        width: 500px;
    }
}

footer {
    margin-bottom: 1rem;
}

footer ul {
    list-style-type: none;
}

footer li {
    display: inline-block;
}

footer li a {
    border: 1px solid #212121;
    display: block;
    font-size: 0.8em;
    margin-right: 0.8em;
    padding: 0.6em 0.8em;
    text-decoration: none;
}

footer li a:hover {
    background-color: #212121;
    color: #f9f9f9;
}
