<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>

  <meta name="author" content="Renaud Bourassa" />

  <!-- Import CSS -->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,700,800" type="text/css">

  <!-- Import Modernizr -->
  <script src="js/modernizr-2.5.3.min.js"></script>

</head>
<body>


    <header>
      <div class="content">
	<h1 id="header-title">RENAUD BOURASSA</h1>

	<nav id="header-nav">
	  <ul>
	    <li><a href="/">HOME</a></li>
	    <li><a href="http://github.com/renaudb/" target="blank_">PROJECTS</a></li>
	    <li><a href="http://linkedin.com/in/renaudbourassa/" target="blank_">RESUME</a></li>
	    <li><a href="malto:_@renaudb.com" target="blank_">CONTACT</a></li>
	  </ul>
	</nav>
	<br class="clear"/>
      </div>
    </header>

    <section id="content">
      <div class="content">
	{{ content }}
      </div>
    </section>

  <footer>
    <div id="container" class="content">
      <span>Copyright &copy; 2008-2012 Renaud Bourassa</span>
      <a href="/atom.xml">Subscribe</a>
      <a href="mailto:_@renaudb.com">Contact</a>
    </div>
  </footer>

  <!-- Import JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!-- Import main site JS -->
  <script src="/js/main.js"></script>

  {% if page.has_latex %}
  <!-- Import MathJax -->
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        displayMath: [ ['$$','$$'], ["\\[","\\]"], ['$latex', '$'] ],
      },
      "HTML-CSS": { availableFonts: ["TeX"] }
    });
  </script>
  <script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  {% endif %}

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31459889-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
